[Unit]
Description={description}
After=multi-user.target

[Service]
ExecStart= {command}  {script} 

Restart=always

[Install]
WantedBy=multi-user.target
